* { 
    margin: 0px; 
    padding: 0px; 
}

body {
    width: 90%;
    font: 0.8em/1.6  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 2% 5% 2% 5%;
    background-color: #333;
    color: ghostwhite;
    
}

a {
    color: #8ebb00;   

}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

ul{ 
    list-style-type: none;
}

main #top {
    border: 1px solid ghostwhite;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
   
    
}


main #bottom {
    border: 1px solid ghostwhite;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
}

main #info {
    border: 1px solid ghostwhite;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
    
}

#info #info1 {
    
}

#info #info2 {
    
}

#info #info3 {
    
}


footer {
    text-align: center;
    
}

footer img {
    
}

@media only screen and (max-width: 600px) {
    
    #info {
        display: none;
    }
}
